p {
    font-family: 'Antic', sans-serif;
}

.jumbotron{
    background-image: url("../images/landing.jpg");
    font-size: 12px;
    text-align: center;
    background-size: cover;
    margin: 0px;
    color: white;
}

#menu{
    color: white;
}
.menu ul li{
    list-style: none;
}


.food{
    width: 100%;
    position: relative;
    text-align: center;
}

#happyhour{
    background-color: lightgray;
    text-align: center;
    height: 20px;
}

#partytime{
    background-color: #F15A29;
    text-align: center;
    height: fit-content;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-style: italic;
    transition: .0001s ease;
}

.schedule:hover{
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.fastfood{
    width: 100%;
}

p.fastfood{
    float: left;
    width: 20em;
    word-wrap: break-word;
}

.bgfood{
    background-image: url("../images/foodsBg.jpg")   
}

.tomatoes{
    width: 100%;
    text-align: center;
    color: white;
    display: block;
    padding-top: 35px;
    background-size: cover;
    background-image: url("../images/subscribe.jpg")
}

.footer{
    background-color: #F15A29;
    text-align: center;
    color: white;
}

#button{
    background-color: #F15A29;
    border: none;
    color: white;
    text-align: center;
}

.btn-subscribe{
    background-color: #F15A29;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    padding: 14px 40px; 
    font-size: 20px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgray;
}

li {
    float: left;
    border-right:1px solid #bbb;
}