p {
    font-family: 'Antic', sans-serif;
}

.jumbotron{
    background-image: url("../images/landing.jpg");
    font-size: 12px;
    text-align: center;
    background-size: cover;
    margin: 0px;
    color: white;
}

#menu{
    color: white;
}
.menu ul li{
    list-style: none;
}

.food{
    
    position: relative;
    text-align: center;
    
}
.col-md-3{
    padding:0%;
    margin:0%;
    height:20vh;
    border: none;
}
.breakfast{
    background-image: url("../images/breakfast.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    margin:0%;
    color: white;
    font-style: italic;
    padding: 43px;
}

.breakfast:hover{
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.lunch{
    background-image: url("../images/lunch.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-style: italic;
    padding: 43px;
}

.lunch:hover{
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.dinner{
    background-image: url("../images/dinner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-style: italic;
    padding: 43px;
}

.dinner:hover{
    opacity: 0.5;
    filter: alpha(opacity=50);
} 

#happyhour{
    background-color: lightgrey;
    text-align:center;
    height:10vh;
    padding: 35px;
}
#partytime{
    background-color: red;
    text-align:center;
    height: 9.6vh;
    padding: 35px;
}
/* 
.food{
    
    position: relative;
    text-align: center;
    border: 2px solid green;
}






#happyhour{
    background-color: lightgrey;
    text-align: center;
    height:50%;
   
    margin-right: -50px;
    margin-left: -20px;
    padding-top: 41px;
    padding-bottom: 45px;
    margin-bottom: 0px;
    
    color: black;
}

#partytime{
    background-color: #F15A29;
    text-align: center;
    margin-right: -85px;
    margin-left: -20px;
    padding-top: 41px;
    padding-bottom: 45px;
    margin-bottom: 0px;
    color: black;
}

.centered{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-style: italic;
    transition: .0001s ease;
} */

.schedule{
    margin-right: -50px;
}
.schedule:hover{
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.fastfood{
    width: 100%;
}

p.fastfood{
    float: left;
    width: 20em;
    word-wrap: break-word;
}

.click{
    border: 2px solid #f15a29;
    background-color: white;
    padding: 10px;
    color: #F15A29;
    margin-top: 10px; 
}
.bgfood{
    background-image: url("../images/foodsBg.jpg");
    text-align: center;
    height: 40vh;   
    padding-top: 40px;
}

.tomatoes{
    /* width: 100%; */
    text-align: center;
    color: white;
    display: block;
    background-image: url("../images/subscribe.jpg");
    height:40vh;
    padding: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}

.col-md-6{
    padding: 50px;
    /* border: 2px 2px 7px 2px rgba(0, 0, 0, 0.44);
    box-shadow: 2px 2px 7px 2px rgba(0, 0, 0, rgba(0, 0, 0, 0.14)) */
}

.drink{
    padding: 20px;
    padding-right: 15px;
    border: 2px 2px 7px 2px rgba(211, 211, 211, 0.44);
    box-shadow: 2px 2px 7px 2px lightslategray;
}
#button{
    background-color: #F15A29;
    border: none;
    color: white;
    text-align: center;
    /* padding-right: 50px; */
}

.btn-subscribe{
    background-color: #F15A29;
    border: none;
    color: white;
    text-align: center;
    display: inline-block;
    padding: 14px 40px; 
    font-size: 20px;
}

.footer{
    background-color: #F15A29;
    text-align: center;
    color: white;
    background-size: cover;
    margin-top: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    /* border: 2px solid red; */
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: lightgray;
}

li {
    float: left;
    padding-left: 150px;
    border-right:1px solid #bbb;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: white;
    color: black;
}