p {
    font-family: 'Antic', sans-serif;
}

.jumbotron{
    background-image: url("../images/landing.jpg");
    font-size: 12px;
    text-align: center;
    background-size: cover;
    margin: 0px;
    
}

.food{
    width: 100%;
    position: relative;
    text-align: center
}

.fastfood{
    width: 100%;
}

p.fastfood{
    float: left;
}
